.body{
    padding:0;
    margin:0;
}

img{
    max-width: 100%;
    max-height: 100%;
    display: block; 
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.container > div{
    flex: 100%;
    flex-direction: row;
    padding: 2px;
    /* border: 1px black solid; */
    /* background-color: brown; */
}
/* 
@media (max-width: 800px) {
    .Header {
        flex: 50%;
        max-width: 50%;
    }
} */

.Header{
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    text-align: center;
    color: #fff;
}

.logo{
    margin-top: 210px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.mouse-click{
    margin-top: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.About-us{
    height: 250px;
    text-align: center;
}

.Services{
    background-size: contain;
    background-repeat: no-repeat;
    height: 317px;
    color: #fff;
    text-align: center;
}

.item1{grid-area: what;}
.item2{grid-area: pictures;}
.what-we-do{
    display: grid;
    grid-template-areas:'what what what what what''pictures pictures pictures pictures pictures'; 
    /* flex-wrap: wrap; */
    height: 200px;
}

/* .what-we-do > div{
    padding: 2px; 
} */

.what-we-do > img{
    background-size: contain;
    background-repeat: no-repeat;
}

.Portfolio{
    height: 400px;
}

.Contact-us{
    background-size: contain;
    background-repeat: no-repeat;
    height: 445px;
}

.Footer{
    height: 100px;
}